//** :: FONT
$poppins: 'Poppins';

//** :: FONT SIZE
$font-size14: 14px;
$font-size16: 16px;
$font-size18: 18px;
$font-size20: 20px;
$font-size22: 22px;
$font-size24: 24px;
$font-size26: 26px;
$font-size28: 28px;
$font-size30: 30px;
$font-size32: 32px;
$font-size34: 34px;
$font-size36: 36px;
$font-size38: 38px;
$font-size40: 40px;
$font-size42: 42px;
$font-size44: 44px;
$font-size46: 46px;
$font-size48: 48px;
$font-size50: 50px;
$font-size52: 52px;
$font-size54: 54px;
$font-size56: 56px;
$font-size58: 58px;
$font-size60: 60px;
$font-size62: 62px;
$font-size64: 64px;

//** :: FONT STYLE
$font-normal: normal;
$font-italic: italic;

//** :: FONT WEIGHT
$font-w400: 400;
$font-w500: 500;
$font-w600: 600;
$font-w700: 700;
$font-w800: 800;
$font-w900: 900;

//** :: COLORS
$color-main400: #7A67F0;
$color-main300: #F0EEFF;
$color-main200: #FAFAFF;
$color-main100: #FBFBFF;
$color-text: #464646;
$color-text-light: #5B5B5B;
$color-white: #FFFFFF;
$color-grey: #E2E2E2;
$color-light-grey: #F6F6FF;
$color-bg-settings: #242424;
$color-bg-settings-light: #2b2b2b;

//** :: BORDER RADIUS
$radius10: 10px;
$radius12: 12px;
$radius14: 14px;
$radius16: 16px;
$radius18: 18px;
$radius20: 20px;
$radius-circle: 50%;